html,
body {
	height: 100%;
	overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;

}
.wrapper {
  position: relative;
  z-index: 1;
	display: flex;
	flex-direction: column;
	min-height: 100%;
  background: linear-gradient(156deg, rgba(235,243,255,1) 0%, rgba(255,255,255,1) 10%, rgba(229,240,255,.38) 20%, rgba(255,255,255,1) 30%, rgba(229,240,255,.47) 65%, rgba(255,255,255,1) 100%);
}
.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container{
  max-width: 1326px;
  margin: 0 auto;
  padding: 0 10px;
}


/* --------------------- .plans .mobile-container */
.mobile-container{
  padding: 0;
}

a{
  text-decoration: none;
}

