
/* ------------------------------ slider articles */

.articles__item.slick-slide {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}
.articles__items {
  position: relative;
}


/* -------------------------------------- owl slider */
.owl-stage{
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-left: 10px;
}
.articles__item.item{
  margin: 0 auto;
}
/* --------------------------------- dots owl slider */
.owl-dots {
  position: absolute;
  top: 106%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex !important;
  gap: 15px;
}
.owl-dots button.owl-dot{
  border-radius: 50%;
  background-color: #d8e6fd;
  border: none;
  width: 12px;
  height: 12px;
  font-size: 0;
  transition: all 0.2s ease-in-out;
}
.owl-dots button.owl-dot.active   {
  background-color: #3a83f6 !important;
  width: 32px;
  border-radius: 22px;
}

.owl-dots {
  top: 110% !important;
}


/* ------------------------------------------- bootrstrap carousel  */ 

.plans .carousel-item ,
.plans .carousel-item.active,
.plans__item ,
.plans__items{
  width: 352px ;
}


.plans .carousel-item{
  padding-right: 5px;
  margin-bottom: 5px;
}

.plans__items{
  margin: 0 auto;
}

.plans .carousel-inner{
  height: 615px;
}


