$grayText: #8B929A;
$title: #3E4957;
$blue-button: #3A83F6;
$subtitle:  #8FB4F1;
$burger: #3E4957;
$white-text: #ffffff;
$login-btn: #2C6ED5;
$blue-bg: #3A83F6;
$shadow: #c0d9ff;
$card-bg: white;
$black-border: black;
$gray-border: #6b7581;
$p-color:white;
